___
# Ciência dos Dados - PROJETO 1

## Pedro Henrique Daher
___

## Acesso a tecnologia de acordo com a renda e nível de escolaridade

___
## Introdução

Descreva aqui o que pretende analisar!

Capriche no português!! 
Se quiser pode utilizar pesquisas semelhantes publicadas em sites confiáveis!!

### Predendo analisar por meio desse trabalho como mudou o acesso a tecnologia nos anos de 2011 e 2015 se relacionando com a renda pessoal e nível de escolaridade.

___
## Filtros da base de dados

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Pedro Daher\Downloads

In [12]:
#Se usar o arquivo descompactado
#pd.read_csv('PES2015.csv',sep=',')

#Se usar o arquivo compactado como está no dropbox púbico
tabela11=pd.read_csv('PES2011csv.zip', compression='zip', header=0, sep=',', quotechar='"')
tabela15=pd.read_csv('PES2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')

In [14]:
cut11=tabela11.loc[:,['V0101','UF','V0302','V8005','V0601','V0602','V6002','V6003','V9532','V06111','V06112','V4720']]
cut11.head()

   V0101  UF  V0302  V8005  V0601  V06111  V06112         V4720
0   2011  11      2     49      1     3.0     1.0  1.000000e+12
1   2011  11      4     33      1     1.0     1.0  0.000000e+00
2   2011  11      4     15      1     1.0     3.0  0.000000e+00
3   2011  11      2      9      1     NaN     NaN           NaN
4   2011  11      4     51      1     3.0     1.0  5.300000e+03

In [15]:
cut15=tabela15.loc[:,['V0101','UF','V0302','V8005','V0601','V06111','V06112','V4720']]
cut15.head()

   V0101  UF  V0302  V8005  V0601  V06111  V06112   V4720
0   2015  11      2     23      1     1.0     1.0   800.0
1   2015  11      4     23      1     1.0     1.0  1150.0
2   2015  11      4     35      1     1.0     1.0   880.0
3   2015  11      2     34      1     1.0     1.0  3000.0
4   2015  11      4     11      1     1.0     1.0     0.0

___
## Análise e Resultados

___
## Conclusão

Descreva aqui suas conclusões!